<div class="card border-light">
    <img src="assets/images/fashion/bg-fashion.jpg" alt="">
    <div class="card-body">
        <h5 class="font-sm text-color letter-spacing text-uppercase font-extra post-meta">Lifestyle</h5>
        <div class="card-title mb-2 mt-1">
            <a class="display-6 text-decoration-none text-warning" href="">Ultimate Summer Hat Guide</a>
        </div>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio iusto debitis repellat ab
            nostrum veritatis sequi harum delectus, explicabo suscipit incidunt, sunt veniam animi inventore. Sint fuga,
            laborum numquam eius!</p>
    </div>
</div>

<div class="row my-4">
    <div class="col-lg-6 my-3">
        <div class="card border-light">
            <img src="assets/images/fashion/bg-fashion.jpg" alt="">
            <div class="card-body">
                <h5 class="font-sm text-color letter-spacing text-uppercase font-extra post-meta">Lifestyle</h5>
                <div class="card-title mb-2 mt-1">
                    <a class="display-7 text-decoration-none text-warning" href="">Ultimate Summer Hat Guide</a>
                </div>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio iusto debitis repellat ab
                    nostrum veritatis sequi harum delectus, explicabo suscipit incidunt, sunt veniam animi inventore. Sint fuga,
                    laborum numquam eius!</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 my-3">
        <div class="card border-light">
            <img src="assets/images/fashion/bg-fashion.jpg" alt="">
            <div class="card-body">
                <h5 class="font-sm text-color letter-spacing text-uppercase font-extra post-meta">Lifestyle</h5>
                <div class="card-title mb-2 mt-1">
                    <a class="display-7 text-decoration-none text-warning" href="">Ultimate Summer Hat Guide</a>
                </div>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio iusto debitis repellat ab
                    nostrum veritatis sequi harum delectus, explicabo suscipit incidunt, sunt veniam animi inventore. Sint fuga,
                    laborum numquam eius!</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 my-3">
        <div class="card border-light">
            <img src="assets/images/fashion/bg-fashion.jpg" alt="">
            <div class="card-body">
                <h5 class="font-sm text-color letter-spacing text-uppercase font-extra post-meta">Lifestyle</h5>
                <div class="card-title mb-2 mt-1">
                    <a class="display-7 text-decoration-none text-warning" href="">Ultimate Summer Hat Guide</a>
                </div>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio iusto debitis repellat ab
                    nostrum veritatis sequi harum delectus, explicabo suscipit incidunt, sunt veniam animi inventore. Sint fuga,
                    laborum numquam eius!</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 my-3">
        <div class="card border-light">
            <img src="assets/images/fashion/bg-fashion.jpg" alt="">
            <div class="card-body">
                <h5 class="font-sm text-color letter-spacing text-uppercase font-extra post-meta">Lifestyle</h5>
                <div class="card-title mb-2 mt-1">
                    <a class="display-7 text-decoration-none text-warning" href="">Ultimate Summer Hat Guide</a>
                </div>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio iusto debitis repellat ab
                    nostrum veritatis sequi harum delectus, explicabo suscipit incidunt, sunt veniam animi inventore. Sint fuga,
                    laborum numquam eius!</p>
            </div>
        </div>
    </div>
</div>
<div class="card border-light">
    <img src="assets/images/fashion/bg-fashion.jpg" alt="">
    <div class="card-body">
        <h5 class="font-sm text-color letter-spacing text-uppercase font-extra post-meta">Lifestyle</h5>
        <div class="card-title mb-2 mt-1">
            <a class="display-6 text-decoration-none text-warning" href="">Ultimate Summer Hat Guide</a>
        </div>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio iusto debitis repellat ab
            nostrum veritatis sequi harum delectus, explicabo suscipit incidunt, sunt veniam animi inventore. Sint fuga,
            laborum numquam eius!</p>
    </div>
</div>

<div class="row my-4">
    <div class="col-lg-6 my-3">
        <div class="card border-light">
            <img src="assets/images/fashion/bg-fashion.jpg" alt="">
            <div class="card-body">
                <h5 class="font-sm text-color letter-spacing text-uppercase font-extra post-meta">Lifestyle</h5>
                <div class="card-title mb-2 mt-1">
                    <a class="display-7 text-decoration-none text-warning" href="">Ultimate Summer Hat Guide</a>
                </div>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio iusto debitis repellat ab
                    nostrum veritatis sequi harum delectus, explicabo suscipit incidunt, sunt veniam animi inventore. Sint fuga,
                    laborum numquam eius!</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 my-3">
        <div class="card border-light">
            <img src="assets/images/fashion/bg-fashion.jpg" alt="">
            <div class="card-body">
                <h5 class="font-sm text-color letter-spacing text-uppercase font-extra post-meta">Lifestyle</h5>
                <div class="card-title mb-2 mt-1">
                    <a class="display-7 text-decoration-none text-warning" href="">Ultimate Summer Hat Guide</a>
                </div>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio iusto debitis repellat ab
                    nostrum veritatis sequi harum delectus, explicabo suscipit incidunt, sunt veniam animi inventore. Sint fuga,
                    laborum numquam eius!</p>
            </div>
        </div>
    </div>
</div>
<nav aria-label="" class="mt-5 pt-4">
    <ul class="pagination pagination-lg">
      <li class="page-item active" aria-current="page">
        <span class="page-link">1</span>
      </li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
    </ul>
  </nav>
